---
layout: default
title: Gallery
permalink: /gallery/
redirect_from: /Gallery
---

<article class="gallery">
  <div class="gallery-grid">
    {% assign tree_media = site.static_files | where_exp: "file", "file.extname
    == '.jpg' or file.extname == '.mp4'" %} {% for media in tree_media %}
    <div class="gallery-item">
      {% if media.extname == ".jpg" %}
      <img
        src="{{ site.baseurl }}{{ media.path | escape }}"
        alt="Gallery image"
        loading="lazy"
      />
      {% else %}
      <video autoplay loop muted playsinline>
        <source
          src="{{ site.baseurl }}{{ media.path | escape }}"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</article>
